<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <title>Bounty Home Page</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
</head>
<body>
    <div class="header-card">
        <h1>Bounties</h1>
        <h2>Welcome to the Bounty Servicer</h2>
        <p>I am just testing a dynamic system</p>
    </div>

    <div class="bounty-card" id="1_card">
        <h1>Template Bounty Title</h1>
        <p id="1_bounty" hidden>This is a template Bounty text. yada yada</p>
        <button id="1" onclick="showBounty(this.id)">Read More</button>
    </div>
</body>
</html>