<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/main.js"></script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
        {% if title %}
            <title>{{ title }} - Bounties</title>
        {% else %}
            <title>Welcome to Bounties!</title>
        {% endif %}
</head>
<body>
    <nav>
        <a href="{{url_for("home")}}">Home</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>