{% extends "base.html" %}

{% block content %}
<body>
    <div class="header-card">
        <h1>Bounties</h1>
        <h2>Welcome to the Bounty Servicer</h2>
        <p>I am just testing a dynamic system</p>
    </div>

{% for bounty in bounties %}

    <div class="bounty-card" id="card_{{ bounty.id }}">
        <h1>{{ bounty.title}}</h1>
        <div id="bounty_{{ bounty.id }}" hidden><p  hidden>{{bounty.description|safe}}</p></div>
        <p> {{ bounty.id }}</p>
        <button id="{{ bounty.id }}" onclick="showBounty(this.id)">Read More</button>
    </div>
{% endfor %}
</body>
{% endblock %}